html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;

}

nav {
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0%;
  min-width: 320px;
  text-align: center;
  overflow: hidden;
}

.nav-item {
  padding: 6.5px 16px;
  vertical-align: middle;
  transition: all 0.25s;
  /* width: calc(320px/5); */
  text-align: center;
}



.nav-item:active {
  transform: translateY(-6px);
  transition: all 0.25s;
}


.theme-item {
  cursor: pointer;
  display: inline-block;
  width: calc(100% / 4);
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

.selected div::after {
  /* display: block; */
  content:'✔️'
}

.shortcut-container {
  box-sizing: border-box; 
  text-align: center;
  width: 100px;
  padding: 10px;
  border-radius: 10px; 
}

.shortcut {
  text-decoration: none;
  color: #2d2d2d;
}

.shortcut-icon {
  width: 48px;
}
