nav {
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0%;
  /* max-width: 800px; */
  min-width: 320px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

a {
  border-bottom-left-radius: 50%; 
  border-bottom-right-radius: 50%; 
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  margin: 0px 5px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

.shortcut {
  text-decoration: none;
  color: black;
  text-align: center;
}

.shortcut img {
  width: 48px;
}

a:active {
  transform: translateY(-20px)
}

a.active {
  transition: all 0.5s;
}

.theme-item {
  cursor: pointer;
  display: inline-block;
  width: calc(100% / 4);
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

.selected div::after {
  /* display: block; */
  content:'✔️'
}

