nav {
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0%;
  min-width: 320px;
  text-align: center;
  overflow: hidden;
}

.nav-item {
  border-bottom-left-radius: 50%; 
  border-bottom-right-radius: 50%; 
  /* box-sizing: border-box; */
  display: inline-block;
  width: 50px;
  margin: 0px 5px;
  height: 40px;
  cursor: pointer;
  transition: all 0.25s;
}



.nav-item:active {
  transform: translateY(-5px);
  transition: all 0.25s;
}

.nav-item.active {
  transition: all 0.25s;
}

.theme-item {
  cursor: pointer;
  display: inline-block;
  width: calc(100% / 4);
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

.selected div::after {
  /* display: block; */
  content:'✔️'
}

.shortcut-container {
  /* text-decoration: none; */
  /* color: black; */
  text-align: center;
  width: fit-content;
  padding: 10px;
  border-radius: 15px; 
}

.shortcut {
  text-decoration: none;
  color: #2d2d2d;
}

.shortcut-icon {
  width: 48px;
}

